html {height:100%}
body{
	margin: 0;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
	background:url(../img/chatbg.png);
	background-attachment:fixed; 
	background-size:contain;
	background-position:center center;
	min-height:100%;
}

button {outline:none;}

.logoheader { 
	width:100%; 
	position:fixed; 
	top:0; 
	left:0; 
	z-index:1; 
	text-align:right; 
	background:#CF022B ;}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h1, h2{
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.slider-row{
	margin: 0;
	padding: 0;
}
.slider-wrapper{
	margin: 0;
	padding: 0 !important;
	background: #000 !important;
}
.intro-caption h1{
	font-size: 90px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
	color: grey;
}
.intro-caption p{
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	color: #666;
}

.intro-caption  {
background: rgba(255,255,255,0.6);
padding:1px 15px 0 15px;
}

.homeCaption button {
	background-color: transparent;
	cursor: pointer;
	background-repeat: no-repeat;
	border: none;
	font-size: 42px;
	text-align:center;
	font-weight:bold;
	
	
}
.intro-caption button:hover{
	
}
.intro-control{
	width: 5%;
}
.intro-inner{
	background: -webkit-linear-gradient(left, #000 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #000 , blue); /* Standard syntax */
}
.item{
	position: relative;
}
.intro-caption {
	text-align: left;
    line-height: 1;
}

/*.chat-window {
	position: absolute;
	text-align: left;
	left: 20%;
    line-height: 1;
    top: 30%;
    margin-top: -100px;
	height:570px;
    width:1040px;
    border:0px solid #ACD8F0;
	overflow-y: scroll;
	overflow-x: hidden;
}*/

/*.chat-bar {
	background:url(../img/chatBar.png);
	position: absolute;
	height:120px;
    width:1466px;
	text-align: left;
	left: -5%;
    line-height: 1;
    top: 105%;
    margin-top: -100px;
	
}*/
/*.chat-bar input {
	height:40px; 
    width:620px; 
    padding:5px 8px;
	margin-left:400px;
	margin-top: 50px;
	border-radius: 5px; 
	border-bottom: 1px solid black;
	font-size: 22px;
}*/
.chat-bar label {
	color: grey;
	height:40px; 
    width:620px; 
    padding:5px 8px;
	margin-left:400px;
	margin-top: 0px;
	font-size: 18px;
}
.chat-bar button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-size: 40px;
	color: #fff;
}

/*.npcImage
{
	width: 100%;
	height: 600px;
	background: url(../img/npc.png);
	left: 10%;
	top: 40%;
	margin-top: -100px;
	position: absolute;
	background-repeat: no-repeat;
}*/
/*.npc-chat{
	background:url(../img/NpcChatRectangle.png);
	position: relative;
	height:160px;
    width:720px;
	left: 15%;
    top: 5%; 
}
.npc-chat p{

	position: relative;
	height:120px;
    width:600px;
	left: 10%;
    top: 8%;
	font-size: 22px;
	color: grey;
}
.npcChatIcon
{
	width: 100px;
	height: 100px;
	background: url(../img/npc_Icon.png);
	left: 0%;
	top: 0%;
	 margin-left:-100px;
	position: absolute;
	background-repeat: no-repeat;
}
.user-chat{
	background:url(../img/userChatRectangel.png);
	position: relative;
	height:160px;
    width:600px;
	left: 27%;
    top: 10%; 
}
.user-chat p{
	position: relative;
	height:120px;
    width:600px;
	left: 5%;
    top: 10%;
	font-size: 22px;
	color: #fff;
}*/

/*******************************
Added by pankaj
********************************/

section {height:100%}
	.containerHeight {height:100%}
	.chat-bar {
	position: fixed;
	height:120px;
	text-align: left;
	left: 0;
    line-height: 1;
    bottom: 0;
	width:100%;
	background: rgba(0,0,0,0.6);
	
}

.chat-container {
	padding-bottom:120px;
}

.chat-window {
	text-align: left;
    line-height: 1;
    margin-top:100px;
    border:0px solid #ACD8F0;
	width:60%;
	margin:0 auto;
	padding-top:100px;
}

.chat-bar input {
    border-bottom: 2px solid white !important;
    border-radius: 0;
    font-size: 17px;
    height: 40px;
    margin-top: 50px;
    padding: 5px 8px;
    width: 50%;
	margin-left:50px;
	background:transparent;
	border:0;
	color:#fff;
	margin-left:22%;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
}

.triangle-right {
  position:relative;
  padding:15px;
  margin:0.5em 0 1em;
  background:#075698; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  word-wrap:break-word;
}

.triangle-right.left {
  background:#075698;
  color:#fff;
  
}
.triangle-right.right {
 background:#fff;
  color:#000;
}
.triangle-right:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
  top:8px;
  left:-20px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:15px 20px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent #075698;
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
  top:8px;
  right:-20px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:15px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-color:transparent #fff ;
}

.npc-chat{
	left: 2%;
	float:left;
	width:100%;
}

.npc-chat div{

	
	font-size: 17px;
	display:inline-block;
	max-width:75%;
	font-family:Arial, Helvetica, sans-serif;
	line-height:22px;
}

.npcChatIcon
{
	width: 100px;
	height: 100px;
	background: url(../img/npc_Icon.png);
	background-repeat: no-repeat;
	float:left;
}

.npcChatIconUserMale
{
	width: 100px;
	height: 100px;
	background: url(../img/user_icon_male.png);
	background-repeat: no-repeat;
	float:right;
}

.npcChatIconUserFemale
{
	width: 100px;
	height: 100px;
	background: url(../img/user_icon_female.png);
	background-repeat: no-repeat;
	float:right;
}





.user-chat{
	
	width:100%;
	float:right;
	
}
.user-chat p{
	
	font-size: 17px;
	display:inline-block;
	max-width:75%;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	line-height:22px;
	margin-right: 10px;
	color:#333!important;
}


.npcImage
{
	width: 100%;
	height: 600px;
	background: url(../img/npc.png);
	left: 10%;
	top: 40%;
	margin-top: -100px;
	position: absolute;
	background-repeat: no-repeat;
}

.center {
  position: absolute;
  left: 90%;
  top: 5%;
  transform: translate(-90%, -10%);
  width: 90%;
  height: 10%;
}

.btn-primary {
    background-color: #cf022b; border-color:#cf022b; margin-top:20px;
	box-shadow: 0 5px #666;}
	
              
.btn-primary:active {
  box-shadow: 0 0 #666;
  transform: translateY(2px);
}

#cred input {
	font-size:20px;
	display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#cred .alert {
	margin:0 0 5px 0;
	padding:5px 15px 5px 15px;
	font-size:20px;
	
}

#cred {
padding-top:5px;
}




/******************************
responsive area
********************************/

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.intro-caption h1 {
  		font-size: 120px;
  	}
  	.intro-caption p {
  		font-size: 32px;
  	}
  	.homeCaption button {
	  width: 215px;
	  height: 55px;
	  font-size: 26px;
	}
	h2 {
  		font-size: 75px !important;
  	}
  	h4 {
  		font-size: 22px !important;
  	}
	
	
	
  	
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	
	.intro-caption h1 {
  		font-size: 90px;
  	}
  	.intro-caption p {
  		font-size: 30px;
  	}
  
	h2 {
  		font-size: 70px !important;
  	}
  	h4 {
  		font-size: 18px !important;
  	}
	
	.chat-window { width:90%;
	}
	
	#cred input {
	width:100%!important;
}
	
  
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	
	
	
	
	#cred input {
	width:100%!important;
}
	.intro-caption {
	   
	}
	.intro-caption h1 {
  		font-size: 75px;
  	}
  	.intro-caption p {
  		font-size: 25px;
  	}
  	.homeCaption button {
	  width: 160px;
	  height: 40px;
	  font-size: 20px;
	}
	
	h2 {
	  font-size: 70px !important;
	}
	h4{
  		font-size: 21px !important;
  	}
	.chat-window { width:90%;
	}
	



.chat-bar input {
   
    margin-left: 5%;
    margin-top: 10px;
    padding: 5px 8px;
    width: 80%;
	
}

.chat-bar button {
    height: 40px;
    margin-left: 20px;
    width: 50px;
	content:"";
}

.chat-bar {
   
    height: 70px;
}

.chat-container {
	padding-bottom:70px;
}


	
}

/* XS Portrait */
@media (max-width: 479px) {


	#cred input {
	
	width:100%!important;
	
}
	
	
	.intro-caption {
	    
	}
	.intro-caption h1 {
  		  font-size: 20px;
  	}
  	.intro-caption p {
  		font-size: 12px;
  	}
	.homeCaption button {
	  height: 23px;
	  font-size: 20px;
	}
	h4 {
	  font-size: 18px !important;
	}
	.chat-window { width:90%;
	}
	
	

.chat-bar input {
   
    margin-left: 5%;
    margin-top: 10px;
    padding: 5px 8px;
    width: 70%;
}

.chat-bar button {
    height: 40px;
    margin-left: 20px;
    width: 50px;
	content:"";
}

.chat-bar {
   
    height: 70px;
}

.chat-container {
	padding-bottom:70px;
}

.npcChatIconUser, .npcChatIcon {
   
    height: 50px;
    width: 50px;
	background-size:contain;
}

.triangle-right {
  position:relative;
  padding:15px;
  margin:0 0 1em 0.5em;
  }


	
}


@media (max-width: 800px) and (orientation:landscape) {
  /* Styles for Landscape screen */
  .popssIMG img {width:90%;}
}

@media (max-width: 600px) and (orientation:portrait) {
  /* Styles for Landscape screen */
  .popssIMG img {width:30%;}
  .popssIMG { text-align:center}
  .intro-caption, .homeCaption { text-align:center}
  .center {
  left: 0;
  top: 10%;
  transform: translate(0, 0);
  width: 100%;
  height: 10%;
  
}
.popstxt {
	background:#fff;
	padding:7px;
}
}

@media (max-width: 570px) and (orientation:landscape) {
  /* Styles for Landscape screen */
  .popssIMG img {width:30%;}
  .popssIMG { text-align:center}
  .intro-caption { text-align:center}
  .center {
  left: 0;
  top: 10%;
  transform: translate(0, 0);
  width: 100%;
  height: 10%;
  
}

}

div p a{
color:white
}

div p a:hover{
color:white
}
