@media (max-width: 450px) {
  .wc-card {
    border: 1px solid #d2dde5;
    padding: 8px;
    width: 198px;
    height: 198px; } }

@media (min-width: 768px) {
  .wc-card {
    border: 1px solid #d2dde5;
    padding: 8px;
    width: 200px;
    height: 200px; } }
