body{
	margin: 0;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h1, h2{
	text-transform: uppercase;
	font-weight: bold;
}

.slider-row{
	margin: 0;
	padding: 0;
}
.slider-wrapper{
	margin: 0;
	padding: 0 !important;
	background: #000 !important;
}
.intro-caption h1{
	font-size: 120px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
}
.intro-caption p{
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
}

.intro-caption button {
	background-color: transparent;
	background-image: url(../img/letsgobtn.png);
	cursor: pointer;
	height:120px; 
    width:180px; 
    margin-left:260px;
	background-repeat: no-repeat;
	border: none;
	font-size: 22px;
	
}
.intro-caption button:hover{
	
}
.intro-control{
	width: 5%;
}
.intro-inner{
	background: -webkit-linear-gradient(left, #000 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #000 , blue); /* Standard syntax */
}
.item{
	position: relative;
}
.intro-caption {
	position: absolute;
	text-align: left;
	left: 45%;
    line-height: 1;
    top: 65%;
    margin-top: -100px;
}

.chat-window {
	position: absolute;
	text-align: left;
	left: 20%;
    line-height: 1;
    top: 30%;
    margin-top: -100px;
	height:570px;
    width:1040px;
    border:0px solid #ACD8F0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat-bar {
	background:url(../img/chatBar.png);
	position: absolute;
	height:120px;
    width:1466px;
	text-align: left;
	left: -5%;
    line-height: 1;
    top: 100%;
    margin-top: -100px;
	
}
.chat-bar input {
	height:40px; 
    width:620px; 
    padding:5px 8px;
	margin-left:400px;
	margin-top: 50px;
	border-radius: 5px; 
	border-bottom: 1px solid black;
}
.chat-bar label {
	color:#fff;
	height:40px; 
    width:620px; 
    padding:5px 8px;
	margin-left:400px;
	margin-top: 0px;
	font-size: 18px;
}
.chat-bar button {
	background-color: transparent;
	background-image: url(../img/SendIcon.png);
	cursor: pointer;
	height:40px; 
    width:120px; 
    margin-left:20px;
	background-repeat: no-repeat;
	border: none;
	font-size: 22px;
	color: #fff;
}

.npcImage
{
	width: 100%;
	height: 400px;
	background: url(../img/npc.png);
	left: 10%;
	top: 40%;
	margin-top: -100px;
	position: absolute;
	background-repeat: no-repeat;
}
.npc-chat{
	background:url(../img/NpcChatRectangle.png);
	position: relative;
	height:160px;
    width:600px;
	left: 15%;
    top: 5%; 
}
.npc-chat p{

	position: relative;
	height:120px;
    width:600px;
	left: 10%;
    top: 8%;
	font-size: 22px;
	color: #fff;
}
.npcChatIcon
{
	width: 100px;
	height: 100px;
	background: url(../img/npc_Icon.png);
	left: 0%;
	top: 0%;
	 margin-left:-100px;
	position: absolute;
	background-repeat: no-repeat;
}
.user-chat{
	background:url(../img/userChatRectangel.png);
	position: relative;
	height:160px;
    width:600px;
	left: 27%;
    top: 10%; 
}
.user-chat p{
	position: relative;
	height:120px;
    width:600px;
	left: 5%;
    top: 10%;
	font-size: 22px;
	color: #fff;
}



/******************************
responsive area
********************************/

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.intro-caption h1 {
  		font-size: 120px;
  	}
  	.intro-caption p {
  		font-size: 32px;
  	}
  	.intro-caption button {
	  width: 215px;
	  height: 55px;
	  font-size: 26px;
	}
	h2 {
  		font-size: 75px !important;
  	}
  	h4 {
  		font-size: 22px !important;
  	}
  	
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	
	.intro-caption h1 {
  		font-size: 90px;
  	}
  	.intro-caption p {
  		font-size: 30px;
  	}
  	.intro-caption button {
		 width: 180px;
		 height: 50px;
		 background: #3a9ecb;
		 color: #fff;
		 font-size: 22px;
	}
	h2 {
  		font-size: 70px !important;
  	}
  	h4 {
  		font-size: 18px !important;
  	}
  
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	
	.intro-caption {
	    margin-top: -110px;
	}
	.intro-caption h1 {
  		font-size: 75px;
  	}
  	.intro-caption p {
  		font-size: 25px;
  	}
  	.intro-caption button {
	  width: 160px;
	  height: 40px;
	  font-size: 20px;
	}
	
	h2 {
	  font-size: 70px !important;
	}
	h4{
  		font-size: 21px !important;
  	}
	
}

/* XS Portrait */
@media (max-width: 479px) {
	
	
	.intro-caption {
	    margin-top: -60px;
	}
	.intro-caption h1 {
  		  font-size: 20px;
  	}
  	.intro-caption p {
  		font-size: 12px;
  	}
	.intro-caption button {
	  width: 90px;
	  height: 23px;
	  font-size: 16px;
	}
	h4 {
	  font-size: 18px !important;
	}
	
}
