html {height:100%}
body{
	margin: 0;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
	background:url(../img/Bg_blue.jpg );
	background-attachment:fixed; 
	background-size:cover;
	min-height:100%;
}

button {outline:none;}


li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h1, h2{
	text-transform: uppercase;
	font-weight: bold;
	color: grey;
}

.slider-row{
	margin: 0;
	padding: 0;
}
.slider-wrapper{
	margin: 0;
	padding: 0 !important;
	background: #000 !important;
}
.intro-caption h1{
	font-size: 90px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
	color: grey;
}
.intro-caption p{
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	color: grey;
}

.intro-caption button {
	background-color: transparent;
	cursor: pointer;
	background-repeat: no-repeat;
	border: none;
	font-size: 42px;
	text-align:center;
	font-weight:bold;
	
	
}
.intro-caption button:hover{
	
}
.intro-control{
	width: 5%;
}
.intro-inner{
	background: -webkit-linear-gradient(left, #000 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #000 , blue); /* Standard syntax */
}
.item{
	position: relative;
}
.intro-caption {
	text-align: left;
    line-height: 1;
}

/*.chat-window {
	position: absolute;
	text-align: left;
	left: 20%;
    line-height: 1;
    top: 30%;
    margin-top: -100px;
	height:570px;
    width:1040px;
    border:0px solid #ACD8F0;
	overflow-y: scroll;
	overflow-x: hidden;
}*/

/*.chat-bar {
	background:url(../img/chatBar.png);
	position: absolute;
	height:120px;
    width:1466px;
	text-align: left;
	left: -5%;
    line-height: 1;
    top: 105%;
    margin-top: -100px;
	
}*/
/*.chat-bar input {
	height:40px; 
    width:620px; 
    padding:5px 8px;
	margin-left:400px;
	margin-top: 50px;
	border-radius: 5px; 
	border-bottom: 1px solid black;
	font-size: 22px;
}*/
.chat-bar label {
	color: grey;
	height:40px; 
    width:620px; 
    padding:5px 8px;
	margin-left:400px;
	margin-top: 0px;
	font-size: 18px;
}
.chat-bar button {
	background-color: transparent;
	background-image: url(../img/SendIcon.png);
	cursor: pointer;
	height:40px; 
    width:120px; 
    margin-left:20px;
	background-repeat: no-repeat;
	border: none;
	font-size: 22px;
	color: grey;
}

/*.npcImage
{
	width: 100%;
	height: 600px;
	background: url(../img/npc.png);
	left: 10%;
	top: 40%;
	margin-top: -100px;
	position: absolute;
	background-repeat: no-repeat;
}*/
/*.npc-chat{
	background:url(../img/NpcChatRectangle.png);
	position: relative;
	height:160px;
    width:720px;
	left: 15%;
    top: 5%; 
}
.npc-chat p{

	position: relative;
	height:120px;
    width:600px;
	left: 10%;
    top: 8%;
	font-size: 22px;
	color: grey;
}
.npcChatIcon
{
	width: 100px;
	height: 100px;
	background: url(../img/npc_Icon.png);
	left: 0%;
	top: 0%;
	 margin-left:-100px;
	position: absolute;
	background-repeat: no-repeat;
}
.user-chat{
	background:url(../img/userChatRectangel.png);
	position: relative;
	height:160px;
    width:600px;
	left: 27%;
    top: 10%; 
}
.user-chat p{
	position: relative;
	height:120px;
    width:600px;
	left: 5%;
    top: 10%;
	font-size: 22px;
	color: #fff;
}*/

/*******************************
Added by pankaj
********************************/

section {height:100%}
	.containerHeight {height:100%}
	.chat-bar {
	position: fixed;
	height:120px;
	text-align: left;
	left: 0;
    line-height: 1;
    bottom: 0;
	width:100%;
	background: rgba(0,0,0,0.8);
	
}

.chat-window {
	text-align: left;
    line-height: 1;
    margin-top:100px;
    border:0px solid #ACD8F0;
	width:80%;
	margin:0 auto;
	padding-top:100px;
}

.chat-bar input {
    border-bottom: 2px solid white !important;
    border-radius: 0;
    font-size: 22px;
    height: 40px;
    margin-top: 50px;
    padding: 5px 8px;
    width: 60%;
	margin-left:50px;
	background:transparent;
	border:0;
	color:#fff;
	margin-left:18%;
	outline: none;
}

.triangle-right {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  background:#075698; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  word-break:break-all;
}

.triangle-right.left {
  margin-left:120px;
  background:#075698;
  margin-right:100px;
  color:#fff;
  
}
.triangle-right.right {
  margin-right:130px;
  background:#cacaca;
  margin-left:100px;
  color:#000;
}
.triangle-right:after {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#075698 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
  top:8px;
  left:-20px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:15px 20px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent #075698;
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
  top:8px;
  right:-20px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  left:auto;
  border-width:15px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-color:transparent #cacaca ;
}

.npc-chat{
	left: 2%;
	float:left;
	width:100%;
}

.npc-chat p{

	
	font-size: 22px;
}

.npcChatIcon
{
	width: 100px;
	height: 100px;
	background: url(../img/npc_Icon.png);
	background-repeat: no-repeat;
	float:left;
}

.npcChatIconUser
{
	width: 100px;
	height: 100px;
	background: url(../img/user_icon.png);
	background-repeat: no-repeat;
	float:right;
}

.user-chat{
	
	width:100%;
	float:right;
}
.user-chat p{
	
	font-size: 22px;
}


.npcImage
{
	width: 100%;
	height: 600px;
	background: url(../img/npc.png);
	left: 10%;
	top: 40%;
	margin-top: -100px;
	position: absolute;
	background-repeat: no-repeat;
}

.center {
  position: absolute;
  left: 90%;
  top: 10%;
  transform: translate(-90%, -10%);
  width: 90%;
  height: 10%;
}

.btn-primary {
    background-color: #cf022b; border-color:#cf022b}
              

/******************************
responsive area
********************************/

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.intro-caption h1 {
  		font-size: 120px;
  	}
  	.intro-caption p {
  		font-size: 32px;
  	}
  	.intro-caption button {
	  width: 215px;
	  height: 55px;
	  font-size: 26px;
	}
	h2 {
  		font-size: 75px !important;
  	}
  	h4 {
  		font-size: 22px !important;
  	}
  	
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	
	.intro-caption h1 {
  		font-size: 90px;
  	}
  	.intro-caption p {
  		font-size: 30px;
  	}
  
	h2 {
  		font-size: 70px !important;
  	}
  	h4 {
  		font-size: 18px !important;
  	}
	
	.chat-window { width:90%;
	}
	
	
  
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	
	.intro-caption {
	   
	}
	.intro-caption h1 {
  		font-size: 75px;
  	}
  	.intro-caption p {
  		font-size: 25px;
  	}
  	.intro-caption button {
	  width: 160px;
	  height: 40px;
	  font-size: 20px;
	}
	
	h2 {
	  font-size: 70px !important;
	}
	h4{
  		font-size: 21px !important;
  	}
	.chat-window { width:90%;
	}
	
	.triangle-right.left {
    
	margin:10px 0 25px 100px;
	
}

.triangle-right.right {
  
  margin:10px 100px 25px 0;
}

.chat-bar input {
   
    margin-left: 5%;
    margin-top: 10px;
    padding: 5px 8px;
    width: 80%;
}

.chat-bar button {
    height: 40px;
    margin-left: 20px;
    width: 50px;
	content:"";
}

.chat-bar {
   
    height: 70px;
}


	
}

/* XS Portrait */
@media (max-width: 479px) {
	
	
	.intro-caption {
	    
	}
	.intro-caption h1 {
  		  font-size: 20px;
  	}
  	.intro-caption p {
  		font-size: 12px;
  	}
	.intro-caption button {
	  width: 90px;
	  height: 23px;
	  font-size: 16px;
	}
	h4 {
	  font-size: 18px !important;
	}
	.chat-window { width:90%;
	}
	
	.triangle-right.left {
    
	margin:0 0 25px 70px;
	
}

.triangle-right.right {
  
  margin:0 70px 25px 0;
}

.chat-bar input {
   
    margin-left: 5%;
    margin-top: 10px;
    padding: 5px 8px;
    width: 70%;
}

.chat-bar button {
    height: 40px;
    margin-left: 20px;
    width: 50px;
	content:"";
}

.chat-bar {
   
    height: 70px;
}

.npcChatIconUser, .npcChatIcon {
   
    height: 50px;
    width: 50px;
	background-size:contain;
}


	
}


@media (max-width: 800px) and (orientation:landscape) {
  /* Styles for Landscape screen */
  .popssIMG img {width:90%;}
}

@media (max-width: 600px) and (orientation:portrait) {
  /* Styles for Landscape screen */
  .popssIMG img {width:30%;}
  .popssIMG { text-align:center}
  .intro-caption { text-align:center}
}
#loading {
	
	position: relative;
	height:80px;
    width:600px;
	left: 50%;
    top: 10%; 
}